<!-- About Section -->
<section id="about" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="intro-text">
				<h2>About</h2>
				<h6>Software Engineer<i class="fa fa-certificate"></i>Web Aficionado<i class="fa fa-certificate"></i>FRP Dilettante</h6>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<p>This webpage was built using <a href="http://www.ractivejs.org/">RactiveJs</a> for Views, customized <a href="http://startbootstrap.com/template-overviews/grayscale/">Bootstrap Grayscale Theme</a>, gulp and gulp-plugins like <a href="https://github.com/jakubpawlowicz/clean-css">css-clean</a> for build, optimization and uglification.</p>
		</div>
	</div>
</section>
<style>
	.content-section {
		color: #3B444B;
		background-color: #F5F5DC;
	    padding-top: 200px;
	    height: 100%;
	    width: 100%;
	    padding-bottom: 100px;
	}
	@media(max-width:767px) {
	    .content-section {
		    padding-top: 100px;
		    height: cover;
		    width: cover;
		    padding-bottom: 50px;
		}
	}

</style>
